.input{
    width: 100%;
    min-height: 6.875em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textarea{
    min-height: 170px;
}

.input__label{
    margin-bottom: 0.5em;
    font-size: var(--font-body-1);
    font-weight: 500;
}

.input__box{
    width: 100%;
    border-radius: 8px;
    padding: .8em;
    border: none;
    resize: none;
}

.input__box:focus{
    outline: none;
}

.input__error{
    padding: 8px 0px;
    color: var(--color-gray-300);
    font-weight: 500;
    font-size: var(--font-label-small);
}

/* MODIFIERS */
.input-light .input__box,
.input-outline-purple .input__box{
    border: 1px solid var(--color-purple);
}

.input-light .input__label{
    color: var(--color-gray-500);
}

.input-outline-purple .input__label{
    color: var(--color-gray-900);
}

.input-outline-purple .input__error{
    color: var(--color-gray-800);
}
