.form__title{
    width: 50%;
    color: var(--color-gray-500);
    font-size: var(--font-h2);
    align-self: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.9375em;
}

.form__button-submit{
    align-self: flex-end;
}

.form__question{
    text-decoration: none;
    font-size: var(--font-label-small);
    color: var(--color-gray-500);
}

/* MODIFIERS */
#form__wrap-login,
#form__wrap-contact,
#form__wrap-signup{
    width: 100%;
    max-width: 30em;
    min-height: 35em;
    padding: 2.5em 1.875em;
    background: var(--color-black-900);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#form__wrap-signup{
    width: 100%;
    max-width: none;
    padding: 2.5em;
}

#form__wrap-signup .form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
}

#form__wrap-signup .form__button-submit{
    grid-column: 1/3;
}

#form__wrap-contact{
    padding: 2em;
    background: var(--color-white);
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .login-alumno{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}