.info{
    min-height: 51.8125em;
    width: 100%;
    padding: 5em var(--margin-w);
    background: var(--color-gray-900);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.25em;
}

.info__message{
    width: 100%;
    max-width: 9em;
    color: var(--color-white);
    font-size: var(--font-h3);
}

/* MEDIAQUERIES */
@media screen and (max-width: 800px) {
    .info{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
  }
  